body {
  background-image: linear-gradient(to right, #191970, #aa336a);
  color: white;
}

#currentTime {
  border: 2px solid white;
  border-radius: 50px;
  /* width: 100%; */
  font-size: 100px;
  /* max-width: 80px; */
}

.alarmSetting,
.stopwatchSetting {
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}
.alarmSetting input[type="number"] {
  width: 80px;
}
